<h2>Details of the task id = <%= @task.id %></h2>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>Task</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>Status</th>
    <td><%= @task.status %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-default' %>
<%= link_to 'Delete', @task, method: :Delete, data: { confirm: 'You sure？'}, class: 'btn btn-danger' %>